@*@model Hotel.LogicaNegocio.Entidades.TopesDescripcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Topes Descripción</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Identificador</label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreObj" class="control-label">Nombre del objeto</label>
                <input asp-for="NombreObj" class="form-control" readonly/>
                <span asp-validation-for="NombreObj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopeMin" class="control-label">Tope mínimo</label>
                <input type="number" asp-for="TopeMin" class="form-control" />
                <span asp-validation-for="TopeMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopeMax" class="control-label">Tope máximo</label>
                <input type="number" asp-for="TopeMax" class="form-control" />
                <span asp-validation-for="TopeMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@